<h1>List of Students</h1>


<table border="1">
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Email</th>
    <th>Grade</th>
    <th></th>
  </tr>

  <% @students.each do |student| %>
  <tr>
  
    <td>
      <a href="/students/<%= student.id %>">
      <%= student.name %>
    </td>

    <td>
    <%if student.image != nil && student.image != ""%>
    <img height="100" src="<%= student.image %>">
    <%else%>
    No Image Available
    <%end%>
    </td>

    <td>
      <%= student.email %>
    </td>

    <td>
      <%= student.grade %>
    </td>

    <td>
      <a href="/students/<%= student.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
