<div >
  <h5>
    Edit Student Account
  </h5>

  <% if @student.errors.any? %>
  <% @student.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/patch_student" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="email_from_query" value="<%= @current_student.email %>">
          
      </div>
                                    
      <div>
        <label for="name_box">Name</label>
          
        <input id="name_box" name="name_from_query" value="<%= @current_student.name %>">
          
      </div>
                      
      <div>
        <label for="grade_box">Grade</label>
          <select id="grade_box" name="grade_from_query">
            <option value="<%@student.grade%>"><%=@student.grade%></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
          
      </div>

      <div>
        <label for="image_box">Image</label>          
        <input type="text" id="image_box" name="image_from_query" value="<%= @current_student.image %>" placeholder= "Paste image URL">
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="password_from_query" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="password_confirmation_from_query" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
