<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lesson #<%= @lesson.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lessons" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

    <%if @current_student != nil && @lesson.student_id == @current_student.id %>      
          <div class="col">
            <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-block btn-outline-secondary">
              Delete lesson
            </a>
          </div>
        </div>
    <%end%>
    <dl>
      <dt>
        Teacher
      </dt>
      <dd>
        <a href="/teachers/<%= @lesson.teacher_id %>"> 
        <%= @lesson.teacher %>
        </a>
        
      </dd>

      <dt>
        Student
      </dt>

      <dd>
        <a href="/students/<%= @lesson.student_id %>">
        <%= @lesson.student %>
        </a>
      </dd>

      <dt>
        Student Feedback
      </dt>
      <dd>
        <%= @lesson.feedback %>
      </dd>

      <dt>
        Teacher Response
      </dt>
      <dd>
        <td>
          <%if @lesson.teacher_response != nil%>
          <%= @lesson.teacher_response %>
          <%else%>
          No response from teacher yet.
          <%end%>
        </td>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @lesson.rating %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lesson.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lesson.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<%if @current_student != nil && @lesson.student_id == @current_student.id %>
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2">
      <h2>
        Edit lesson
      </h2>

      <form action="/modify_lesson/<%= @lesson.id %>"  method="post" >
        <div class="form-group">
          <label for="teacher_id_box">
            Teacher
          </label>
            <select id="teacher_id_box" name="teacher_id_from_query">
              <option value="<%=@lesson.teacher_id%>" selected><%=@lesson.teacher %></option>          
              <% @teachers.each do |teacher| %>
  
                <option value="<%=teacher.id%>"><%=teacher.name %></option>
              <% end %>
            </select>
        </div>

        <label for="rating_box">
          Rating
        </label>
          <select id="rating_box" name="rating_from_query">       
              <option value="<%@lesson.rating%>"><%=@lesson.rating%></option>    
              <option value="1"><%=1 %></option>
              <option value="2"><%=2 %></option>
              <option value="3"><%=3 %></option>
              <option value="4"><%=4 %></option>
              <option value="5"><%=5 %></option>
          </select>

        <div class="form-group">
          <label for="feedback_box">
            Student Feedback
          </label>
          <input type="text" id="feedback_box" name="feedback_from_query" class="form-control" value="<%= @lesson.feedback %>">
        </div>

        <button class="btn btn-block btn-outline-secondary">
          Update lesson
        </button>
      </form>
    </div>
  </div>
<%end%>

<hr>
