<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lesson #<%= @lesson.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lessons" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_lesson/<%= @lesson.id %>" class="btn btn-block btn-outline-secondary">
          Delete lesson
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Teacher
      </dt>
      <dd>
        <%= @lesson.teacher_id %>
      </dd>

      <dt>
        Student
      </dt>
      <dd>
        <%= @lesson.student_id %>
      </dd>

      <dt>
        Feedback
      </dt>
      <dd>
        <%= @lesson.feedback %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lesson.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lesson.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit lesson
    </h2>

    <form action="/modify_lesson/<%= @lesson.id %>"  method="post" >
      <div class="form-group">
        <label for="teacher_id_box">
          Teacher
        </label>

        <input type="text" id="teacher_id_box" name="teacher_id_from_query" class="form-control" value="<%= @lesson.teacher_id %>">
      </div>

      <div class="form-group">
        <label for="student_id_box">
          Student
        </label>

        <input type="text" id="student_id_box" name="student_id_from_query" class="form-control" value="<%= @lesson.student_id %>">
      </div>

      <div class="form-group">
        <label for="feedback_box">
          Feedback
        </label>

        <input type="text" id="feedback_box" name="feedback_from_query" class="form-control" value="<%= @lesson.feedback %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update lesson
      </button>
    </form>
  </div>
</div>

<hr>
