<h1>List of Teachers</h1>


<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Expertise</th>
    <th>Rating</th>
    <th>Schedule</th>
    <th></th>
  </tr>

  <% @teachers.each do |teacher| %>
  <tr>
  
    <td>
      <a href="/teachers/<%= teacher.id %>">
      <%= teacher.name %>
    </td>

    <td>
      <%= teacher.email %>
    </td>

    <td>
      <%= teacher.expertise %>
    </td>

    <td>
 
      <%= teacher.rating %>
    </td>

    <td>
      <%= teacher.schedule %>
    </td>

    <td>
      <a href="/teachers/<%= teacher.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
