<div >
  <h5>
    Edit Teacher Account
  </h5>

  <% if @teacher.errors.any? %>
  <% @teacher.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/patch_teacher" method="post">
              
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="email_from_query" value="<%= @current_teacher.email %>">
          
      </div>
                                    
      <div>
        <label for="name_box">Name</label>
          
        <input id="name_box" name="name_from_query" value="<%= @current_teacher.name %>">
          
      </div>

      <div>
        <label for="bio_box">Bio</label>
        <textarea id="bio_box" name="bio_from_query" rows="10" cols="30" ><%= @current_teacher.bio %></textarea>
      </div>

      <div>
        <label for="image_box">Image</label>          
        <input type="text" id="image_box" name="image_from_query" value="<%= @current_teacher.image %>" placeholder="Paste updated image URL here">
      </div>

      <div>
      <label for="schedule_box"> Current Schedule <%= @current_teacher.schedule %></label>
      </div>

      <div>
        <label for="schedule_box">Updated Schedule</label>
          <label for="mon">Mon</label>
          <input id="mon" name="schedule_from_query1" type="checkbox" value="Mon">

          <label for="tue">Tue</label>
          <input id="tue" name="schedule_from_query2" type="checkbox" value="Tue">

          <label for="wed">Wed</label>
          <input id="wed" name="schedule_from_query3" type="checkbox" value="Wed">

          <label for="thu">Thu</label>
          <input id="thu" name="schedule_from_query4" type="checkbox" value="Thu">

          <label for="fri">Fri</label>
          <input id="fri" name="schedule_from_query5" type="checkbox" value="Fri">

      </div>
                      
      <div>
        <label for="expertise_box">Expertise</label>
          
        <input id="expertise_box" name="expertise_from_query" value="<%= @current_teacher.expertise %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="password_from_query" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="password_confirmation_from_query" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
