<h1><%= @teacher.name %></h1>

<dl>
  <dt>Email: <%= @teacher.email %></dt>

  <dt>Expertise: <%= @teacher.expertise %>  </dt>

  <dt>Schedule: <%= @teacher.schedule %> </dt>

  <dt>Average Rating: <%= @teacher.average_rating %> <dt>
</dl>

<hr>
<h2> <%= @teacher.name %>'s Lessons </h2>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table" border="1">
   
      <tr>
        <th>
          Lesson Number
        </th>

        <th>
          Teacher
        </th>

        <th>
          Student
        </th>

        <th>
          Feedback
        </th>

        <th>
          Rating
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @lessons_of_teacher.each do |lesson| %>
      <tr>
        <td>
          <%= lesson.id %>
        </td>

        <td>
          <a href="/teachers/<%= lesson.teacher_id %>">
          <%= lesson.teacher %>
        </td>

        <td>
        <a href="/students/<%= lesson.student_id %>">
        <%= lesson.student %>
        </td>

        <td>
          <%= lesson.feedback %>
        </td>
        
        <td>
          <%= lesson.rating %>
        </td>

        <td>
          <%= time_ago_in_words(lesson.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(lesson.updated_at) %> ago
        </td>

        <td>
          <a href="/lessons/<%= lesson.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>