<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav>
      <div>
        <a href="/teachers">
          <i class="fab fa-firstdraft fa-fw"></i>

          All Teachers
        </a>
      </div>

      <div>
        <a href="/students">
          <i class="fas fa-users"></i>

          All Students
        </a>
      </div>

      <div>
        <a href="/">
          <i class="fas fa-users"></i>

          All Lessons
        </a>
      </div>

      <% if @current_teacher == nil %>
        <% if @current_student == nil %>
          <div>
            <a href="/teacher_sign_up">
              Teacher Sign Up
            </a>
          </div>

          <div>
            <a href="/teacher_sign_in">
              Teacher Sign In
            </a>
          </div>

          <div>
            <a href="/student_sign_up">
              Student Sign Up
            </a>
          </div>

          <div>
            <a href="/student_sign_in">
              Student Sign In
            </a>
          </div>
          
        <%else%>
          <div>
            <a href="/students/<%= @current_student.id %>">
            <%= @current_student.name%>
            </a>
          </div>

          <div>
            <a href="/student_sign_out">
              Student Sign Out
            </a>
          </div> 
        <%end%> 

      <%else%>
        <div>
          <a href="/teachers/<%= @current_teacher.id %>">
          <%= @current_teacher.name%>
          </a>
        </div>
        
        <div>
            <a href="/teacher_sign_out">
              Teacher Sign Out
            </a>
          </div>
      <%end%>

    </nav>
    <%= yield %>
  </body>
</html>


    

